@charset "UTF-8";
/*

0px - 600px       = phone only

600px  - 900px    = tablet portrait

900px  - 1200px   = tablet landscape

[1200px  - 1800px]  = Desktop normaly style apply 

1800px -  ∞ px    = Big Desktop 
/////////////////////////////////////////////////////// 

phone 

tab-small

tab-big 

big-desktop
*/
/* animation */
.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 2rem 4rem;
  cursor: pointer;
  transition: all 0.2s;
  backface-visibility: hidden;
  text-decoration: none;
  transform: scale(1); }
  .btn:hover {
    background-color: #b28451;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.05); }

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6; }

::selection {
  background-color: #c69963;
  color: white; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [side-start] 8rem [side-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

/* uniti css */
.font-sml {
  font-size: smaller; }

.font-nl {
  font: medium; }

.font-lg {
  font-size: xx-large; }

.font-llg {
  font-size: 7rem; }

.font-family-lato {
  font-family: "Lato", sans-serif; }

.font-size-rem {
  font-size: 1.5rem !important; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.background-telegram {
  background: #00dcdc; }

.img-size-position {
  background-size: cover;
  background-position: top; }

.u-center-text {
  text-align: center; }

.u-margin-bot-big {
  margin-bottom: 5rem !important; }

.u-margin-bot-med {
  margin-bottom: 2rem !important; }

.u-margin-bot-small {
  margin-bottom: 16px !important; }

.text-uppercase {
  text-transform: uppercase; }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-top-med {
  margin-top: 3rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-med {
      margin-top: 2rem !important; } }

.u-margin-top-2rem {
  margin-top: 2rem !important; }

.u-margin-top-big {
  margin-top: 5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 3rem !important; } }

.u-margin-top-hige {
  margin-top: 7rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-hige {
      margin-top: 5rem !important; } }

.u-font-size-2rem {
  font-size: 2rem; }

.u-padding-2rem {
  padding: 2rem; }

.u-dispaly-inline-block {
  display: inline-block; }

.position-re {
  position: relative !important; }

.position-ab {
  position: absolute !important; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }
  .features .feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 2.5rem; }
    .features .feature__text {
      font-size: 1.7rem; }
    .features .feature__icon {
      fill: #c69963;
      width: 4.5rem;
      height: 4.5rem;
      grid-row: 1 / span 2;
      transform: translateY(-1rem); }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__item {
    list-style: none; }
  .nav__link {
    transition: all 0.2s; }
    .nav__link, .nav__link:visited, .nav__link:link {
      border-radius: 3px;
      font-size: 1.4rem;
      text-transform: uppercase;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      text-decoration: none;
      color: #fff;
      display: block;
      padding: 1.5rem; }
    .nav__link:hover, .nav__link:active {
      transform: translateY(-4px);
      background-color: rgba(255, 255, 255, 0.04); }

.copyright {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 6rem;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  color: #aaa; }
  .copyright a {
    text-decoration: none;
    color: #aaa;
    backface-visibility: hidden;
    display: inline-block;
    transition: all 0.2s;
    background-color: #101d2c; }
    .copyright a:hover {
      z-index: 10;
      color: #c69963;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      transform: rotate(5deg) scale(1.3); }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  padding: 1.5rem;
  grid-gap: 1.5rem; }
  .gallery__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    outline-offset: 0.4rem; }
    .gallery__img:hover {
      transform: scale(1.01);
      outline: 0.5rem rgba(198, 153, 99, 0.9) solid;
      cursor: pointer;
      box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.15);
      outline-style: inset; }
    .gallery__img:active {
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
      transform: scale(1.12);
      z-index: 10; }
  .gallery__item--1 {
    grid-area: 1 / 1 / span 2 / span 2; }
  .gallery__item--2 {
    grid-area: 1 / 3 / span 3 / span 3; }
  .gallery__item--3 {
    grid-area: 1 / 6 / span 2 / span 1; }
  .gallery__item--4 {
    grid-area: 1 / 7 / span 2 / span 2; }
  .gallery__item--5 {
    grid-area: 3 / 1 / span 3 / span 2; }
  .gallery__item--6 {
    grid-area: 4 / 3 / span 2 / span 2; }
  .gallery__item--7 {
    grid-area: 4 / 5 / 5 / 6; }
  .gallery__item--8 {
    grid-area: 3 / 6 / span 2 / span 2; }
  .gallery__item--9 {
    grid-area: 3 / 8 / span 3 / span 1; }
  .gallery__item--10 {
    grid-area: 6 / 1 / span 2 / span 1; }
  .gallery__item--11 {
    grid-area: 6 / 2 / span 2 / span 2; }
  .gallery__item--12 {
    grid-area: 6 / 4 / span 2 / span 1; }
  .gallery__item--13 {
    grid-area: 5 / 5 / span 3 / span 3; }
  .gallery__item--14 {
    grid-row: span 2; }

.header {
  background-color: #54483a;
  grid-column: full-start / col-end 6; }

.homes {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin: 15rem 0; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .home__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 2.5rem;
    height: 2.5rem;
    fill: #c69963;
    justify-self: end;
    align-self: start;
    margin: 1rem;
    transition: all 0.2s; }
    .home__like:active, .home__like:visited, .home__like:hover {
      fill: red;
      transform: scale(1.1); }
  .home__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    font-size: 1.6rem;
    font-family: "Josefin Sans", sans-serif;
    padding: 1.5rem;
    width: 80%;
    justify-self: center;
    align-self: end;
    transform: translateY(50%);
    border-radius: 3px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background-color: #101d2c; }
  .home__img {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100%; }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.7rem; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      width: 2rem;
      height: 2rem;
      fill: #c69963;
      margin-right: 1rem; }
  .home__btn {
    grid-column: 1 / -1; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.sidebar-background {
  background-color: #c69963;
  grid-column: side-start / side-end;
  grid-row: 1 / -1; }

.sidebar {
  top: 0;
  left: 0;
  margin: 1rem;
  position: absolute; }
  .sidebar__btn {
    position: absolute;
    top: 0;
    left: 0;
    grid-area: 1 / 1 /1 /1;
    background-color: #fff;
    border-radius: 50%;
    margin: 1rem;
    width: 4rem;
    height: 4rem;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s; }
    .sidebar__btn:hover {
      transform: scale(1.1); }
  .sidebar__icon {
    position: relative;
    background-color: #c69963;
    width: 2.4rem;
    display: inline-block;
    height: 0.3rem; }
    .sidebar__icon::before, .sidebar__icon::after {
      transition: all 0.2s;
      content: "";
      background-color: #c69963;
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin: center; }
    .sidebar__icon::after {
      left: 0;
      top: 0.8rem; }
    .sidebar__icon::before {
      left: 0;
      top: -0.8rem; }
  .sidebar__background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backface-visibility: hidden;
    margin: 1.5rem;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    z-index: 999;
    transition: all 0.4s ease-out; }
    @supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
      .sidebar__background {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); } }
  .sidebar__checkbox:checked ~ .sidebar__background {
    width: 97vw;
    height: 40rem; }
  .sidebar__checkbox:checked ~ .sidebar__btn > .sidebar__icon {
    background-color: transparent; }
  .sidebar__checkbox:checked ~ .sidebar__btn > .sidebar__icon::before {
    transform: rotate(-135deg);
    top: 0; }
  .sidebar__checkbox:checked ~ .sidebar__btn > .sidebar__icon::after {
    transform: rotate(135deg);
    top: 0; }
  .sidebar__checkbox {
    display: none; }

.sidebar__nav {
  opacity: 0;
  width: 0;
  z-index: 9999;
  position: relative;
  transform: translate(-50%, -50%);
  top: 20rem;
  left: 48.5vw;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .sidebar__nav__list {
    display: flex;
    justify-content: space-between;
    transition: all 0.2s; }
    .sidebar__nav__list__item {
      list-style: none;
      position: relative;
      height: 7rem;
      width: 7rem;
      transition: all 0.2s; }
    .sidebar__nav__list__link {
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-decoration: none;
      text-align: center; }

.side-icon {
  line-height: 10rem;
  position: relative;
  font-size: 7rem;
  transition: all 0.2s; }

.side-text {
  position: absolute;
  bottom: -2rem;
  color: #fff;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.25s;
  text-transform: uppercase;
  font-size: 2rem; }

.sidebar__checkbox:checked ~ .sidebar__nav {
  opacity: 1;
  width: 60rem; }

.sidebar__checkbox:checked ~ .sidebar__nav > .sidebar__nav__list > .sidebar__nav__list__item > .sidebar__nav__list__link {
  opacity: 1;
  visibility: visible; }

.active {
  color: #6d5d4b; }

nav ul li:hover {
  transform: scale(1.1); }

.hover-green:hover span {
  color: #55f06f; }

.hover-green:hover span.side-text {
  color: #55f06f; }

.hover-gray:hover span {
  color: #607d8b; }

.hover-blue:hover span {
  color: #3466d0; }

.hover-yellow:hover span {
  color: #ffc20e; }

.hover-gold:hover span {
  color: #54483a; }

.story__pictures {
  display: grid;
  background-color: #c69963;
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.6)), url(../img/back.jpg);
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }

.story__img--1 {
  width: 100%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  grid-row: 2 / 6;
  grid-column: 2 / 6; }

.story__img--2 {
  width: 115%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  z-index: 20; }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 4rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.story__text {
  font-size: 1.5rem;
  font-style: italic; }
