// color
$color-white: #fff;
$color-white-light: #f7f7f7;
$color-red: #ff0000;
$color-text-white: #f7f7f769;
$color-black: black;

// color for this project

$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// font
$default-font-size: 1.6rem;

// border radios
$border-reduis-3px: 4px;

// fonts

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
