.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg);
  background-size: cover;
  // background-position: top;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center;

  @include res(800px) {
    grid-column: 1 / -1;
  }
  &__logoo {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-self: center;
    // justify-content: space-between;
  }

  &__logo {
    // margin-right: 10rem;
    height: 4rem;

    &-text {
      margin-left: 1rem;
      @extend %heading;
      font-size: 1.6rem;
      color: currentColor;
    }
  }
  &__seenon-text {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr max-content 1fr;
    font-size: 1.6rem;
    color: $color-grey-light-2;
    align-items: center;

    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      background-color: $color-grey-light-2;
      font-weight: 300;
    }
  }
  &__seenon-logos {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    justify-items: center;

    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }

  &__btn {
    justify-self: start;
    align-self: start;
  }
}
