.sidebar-background {
  background-color: $color-primary;
  grid-column: side-start / side-end;
  grid-row: 1 / -1;
}

.sidebar {
  top: 0;
  left: 0;
  margin: 1rem;
  position: absolute;
  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    grid-area: 1 / 1 /1 /1;
    background-color: $color-white;
    // padding: 1rem;
    border-radius: 50%;
    margin: 1rem;
    // margin-top: 3rem;
    width: 4rem;
    height: 4rem;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__icon {
    position: relative;
    background-color: $color-primary;
    width: 2.4rem;
    display: inline-block;
    height: 0.3rem;
    &::before,
    &::after {
      transition: all 0.2s;
      content: "";
      background-color: $color-primary;
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin: center;
    }
    &::after {
      left: 0;
      top: 0.8rem;
    }

    &::before {
      left: 0;
      top: -0.8rem;
    }
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color-white, 0.5);
    @supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }

    backface-visibility: hidden;

    // padding: 0.5rem;
    margin: 1.5rem;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    z-index: 999;
    transition: all 0.4s ease-out;
    // transition-delay: 0.5s;
  }

  &__checkbox:checked ~ &__background {
    width: 97vw;
    height: 40rem;
  }

  &__checkbox:checked ~ &__btn > &__icon {
    background-color: transparent;
  }
  &__checkbox:checked ~ &__btn > &__icon::before {
    transform: rotate(-135deg);
    top: 0;
  }
  &__checkbox:checked ~ &__btn > &__icon::after {
    transform: rotate(135deg);
    top: 0;
  }
  &__checkbox {
    display: none;
  }
}

//* sidebar icon

.sidebar__nav {
  opacity: 0;
  width: 0;
  z-index: 9999;
  position: relative;
  transform: translate(-50%, -50%);
  top: 20rem;
  left: 48.5vw;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  &__list {
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
    &__item {
      list-style: none;
      position: relative;
      height: 7rem;
      width: 7rem;
      transition: all 0.2s;
    }

    &__link {
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color-white;
      text-decoration: none;
      text-align: center;
    }
  }
}

.side-icon {
  line-height: 10rem;
  position: relative;
  font-size: 7rem;
  transition: all 0.2s;
}
.side-text {
  position: absolute;
  bottom: -2rem;
  color: $color-white;
  font-weight: 400;
  font-family: $font-secondary;
  transition: all 0.25s;
  text-transform: uppercase;
  // transform: scale(0);
  font-size: 2rem;
}

.sidebar__checkbox:checked ~ .sidebar__nav {
  opacity: 1;
  width: 60rem;
}

.sidebar__checkbox:checked
  ~ .sidebar__nav
  > .sidebar__nav__list
  > .sidebar__nav__list__item
  > .sidebar__nav__list__link {
  opacity: 1;
  visibility: visible;
}
.active {
  color: $color-grey-dark-2;
}

nav ul li:hover {
  transform: scale(1.1);
}
.hover-green:hover span {
  color: #55f06f;
}
.hover-green:hover span.side-text {
  color: #55f06f;
}
.hover-gray:hover span {
  color: #607d8b;
}
.hover-blue:hover span {
  color: #3466d0;
}
.hover-yellow:hover span {
  color: #ffc20e;
}
.hover-gold:hover span {
  color: $color-grey-dark-1;
}
