*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  @include res(tab-big) {
    font-size: 50%;
  }

  @include res(400px) {
    font-size: 40%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

::selection {
  background-color: $color-primary;
  color: white;
}

.container {
  display: grid;

  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [side-start] 8rem
    [side-end full-start]
    minmax(6rem, 1fr)
    [center-start]
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]
    minmax(6rem, 1fr)
    [full-end];

  @include res(tab-small) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start]
      minmax(6rem, 1fr)
      [center-start]
      repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end]
      minmax(6rem, 1fr)
      [full-end];
  }

  @include res(800px) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}
